    {% extends 'layout.html' %}
    {% load static %}
    {% block title %}Blogs{% endblock %}
    {% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Blogs</h2>
                    <hr class="light">

                    {% for blog in blogs %}
                        <a href="/blog/{{ blog.id }}/">
                        <div>
                            
                            <p>{{ blog.title }}</p>
                            <img src="{{ blog.image }}" width="150" />
                            </div>
                        </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    {% endblock %}