    {% extends 'layout.html' %}
    {% load static %}
    {% block title %} {{ blog.title }} {% endblock %}
    {% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{{ blog.title }}</h2>
                    <h3>{{ blog.author }}</h3>
                    <hr class="light">
                    <img src="{{ blog.image }}" width="400" height="200" />
                    <hr>

                    <p>{{ blog.description }}</p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}